@primary-color-dark: #13a8a8;
@primary-color-active-dark: #138585;
@primary-color-hover-dark: #33bcb7;
@primary-color-disabled-dark: #144848;

@success-color-dark: #49aa19;
@success-color-active-dark: #3c8618;
@success-color-hover-dark: #6abe39;
@success-color-disabled-dark: #274916;

@warning-color-dark: #d89614;
@warning-color-active-dark: #aa7714;
@warning-color-hover-dark: #e8b339;
@warning-color-disabled-dark: #594214;

@error-color-dark: #901c22;
@error-color-active-dark: #731a1e;
@error-color-hover-dark: #a33739;
@error-color-disabled-dark: #401719;
