@primary-color: #13c2c2;
@primary-color-hover: #36cfc9;
@primary-color-active: #08979c;
@primary-color-disabled: #87e8de;

@success-color: #52c41a;
@success-color-hover: #73d13d;
@success-color-active: #389e0d;
@success-color-disabled: #b7eb8f;

@warning-color: #ffc53d;
@warning-color-hover: #ffc837;
@warning-color-active: #d48806;
@warning-color-disabled: #ffe58f;

@error-color: #ff4d4f;
@error-color-hover: #ff7875;
@error-color-active: #d9363e;
@error-color-disabled: #ffa39e;
