@import "../../style/theme/index.less";
@import "./theme.less";

.@{overlay-cls} {
  position: fixed;
  top: 0;
  left: 0;
  z-index: ~"var(--@{prefix-cls}-zindex-overlay)";
  display: none;
  width: 100%;
  height: 100%;
  background-color: ~"var(--@{prefix-cls}-overlay-bg)";
  opacity: 0;
  transition: opacity ~"var(--@{prefix-cls}-transition-duration)" ease;

  &-show {
    display: block;
    opacity: 1;
  }
}
