@import "../../style/theme/index.less";
@import "./theme.less";

.@{modal-cls} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: ~"var(--@{prefix-cls}-modal-zIndex)";

  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: ~"var(--@{prefix-cls}-modal-mask)";
  }
}
